<!-- start Header-->
<header class="header_area">
<div class="main-menu"> 
<nav class="navbar navbar-expand-lg navbar-light">
    
    <img src="assets/images/logo.png" class="navbar-brand" alt="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapsibleNavbar" id="collapseDesign">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngbCollapse]="isCollapsed">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>
    
<!--End header-->

<!--Start Main Area-->
<main class="site-main">
  <!--Start Banner Area-->
      <section class="site-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
                <h3 class="title-text">Hey</h3>
                <h1 class="title-text text-uppercase">I am Dharani</h1>
                <h4 class="title-text text-uppercase">Senior Wordpress Developer</h4>
                <div class="site-button">
                  <div class="d-flex flex-row flex-wrap">
                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Hire Me</button>
                    <button type="button" class="btn button secondary-button  text-uppercase">Get Cv</button>

                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 banner-img">
              <img src="assets/images/banner-image.png" alt="image" class="img-fluid">

            </div>
          </div>
        </div>
      </section>
      <!--End Banner Area-->

      <!--About Area-->
      <section class="about-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-12 about-img">
              <img src="assets/images/about-us.png" alt="about" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12 about-title  ">
              <h2 class="text-uppercase ml-5 ">
                <span>Let Me</span>&nbsp;
                <span>introduce</span>&nbsp;
                <span>myself</span>
              </h2>
              <div class="paragraph w-60 pl-5">
                <p class="para">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente harum nobis minima optio sint. Cumque quia repudiandae nisi itaque molestias. 
                </p>
                <p class="para">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam iure, a libero repudiandae corrupti saepe quia labore, molestiae quibusdam, quo soluta eos qui. Ducimus blanditiis ex cum eligendi. Repellat soluta laborum aliquam optio suscipit nemo natus itaque minima et qui.
                </p>
              </div>
              <div class="ml-5 pl-5">
              <button type="button" class="btn button primary-button text-uppercase ">Download CV</button>
              </div>  
            </div>

          </div>
        </div>
      </section>
      <!--End About Area-->


      <!--Start brand area-->
      <section class="brand-area">
        
          <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="first-row row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo1.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo2.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo3.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo4.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo5.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo6.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo6.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo3.png" alt="brand-1">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-brand">
                      <img src="assets/images/brands/logo5.png" alt="brand-1">
                    </div>
                  </div>

                  
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12">
              <div class="experience-area">
                <div class="d-flex flex-row years-area">
                  <h2 class="p-3 years">10</h2>
                  <h2 class="pb-3">
                    <span>Years</span><br>
                    <span>Working</span><br>
                    <span>Experience</span>
                  </h2>
                </div>
                <div class="d-flex flex-row fkex-wrap call-area">
                  <span><i class="fa fa-phone fa-3x" aria-hidden="true"></i></span>
                  <div class="call-now">
                    <a href="#" class="text-uppercase">Call Now</a><br>
                    <span py-2>+91-8124926240</span>
                  </div>
                </div>
                <div class="bg-panel"></div>
              </div>

            </div>
          </div>
       
      </section>

      <!--End brand area-->

      <!--start service area-->
      <section class="service-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center service-title">
              <h1 class="text-uppercase title-text">Service Offers</h1>
              <p class="para pt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem sint dolore. Eos in explicabo nulla tempore eligendi omnis earum?
              </p>

            </div>
          </div>
         
            <div class="row">
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="services">
                  <div class="services-img text-center py-4">
                    <img src="assets/images/services/s1.png" alt="services-1">

                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">Wp developer</h5>
                    <p class="card-text text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="services">
                  <div class="services-img text-center py-4">
                    <img src="assets/images/services/s2.png" alt="services-1">

                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">UX/UI design</h5>
                    <p class="card-text text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="services">
                  <div class="services-img text-center py-4">
                    <img src="assets/images/services/s3.png" alt="services-1">

                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">Web design</h5>
                    <p class="card-text text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="services">
                  <div class="services-img text-center py-4">
                    <img src="assets/images/services/s4.png" alt="services-1">

                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">seo optimize</h5>
                    <p class="card-text text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
      </section>
       <!--end service area-->


       <!--start project area-->
       <section class="project-area">
         <div class="container">
           <div class="project-title pb-5">
             <h1 class="text-uppercase title-h1">Recently Done project</h1>
             <h1 class="texxt-uppercase title-h1">Quality Work</h1>
           </div>
           <div class="button-group">
             <button type="button" class="active">All</button>
             <button type="button" >Popular</button>
             <button type="button">Latest</button>
             <button type="button">Following</button>
             <button type="button">Upcoming</button>

           </div>
           <div class="row grid">
              <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                <div class="our-project">
                  <img src="assets/images/portfolio/p1.jpg" alt="portfolio" style="width:280px;">
                </div>
                <div class="title py-4">
                  <h4 class="text-uppercase">Minimal design</h4>
                  <span class="text-secondary">Latest,Portfolio</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 element-item Popular">
                <div class="our-project">
                  <img src="assets/images/portfolio/p2.jpg" alt="portfolio" style="width:280px;">
                </div>
                <div class="title py-4">
                  <h4 class="text-uppercase">Paint Wall</h4>
                  <span class="text-secondary">Popular,Portfolio</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 element-item Popular ">
                <div class="our-project">
                  <img src="assets/images/portfolio/p3.jpg" alt="portfolio" style="width:300px;">
                </div>
                <div class="title py-4">
                  <h4 class="text-uppercase">Female Light</h4>
                  <span class="text-secondary">Popular,Portfolio</span>
                </div>
              </div>
           </div>
         </div>
       </section>

        <!--End project area-->

        <!--about me area-->
        <section class="about-area">
          <div class="container">
            <div class="row text-center">
              <div class="col-12">
                <div class="about-title">
                  <h1 class="text-uppercase title-h1">Client Say about Me</h1>
                  <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus saepe quam officiis harum eaque assumenda sit ratione atque fuga fugiat!</p>
                </div>
              </div>
            </div>
          </div>
           
            <div class=" container carousel py-lg-5">
               <!--Carosel-->
              <owl-carousel-o [options]="customOptions">
                
                  <ng-template carouselSlide>
                    
                    <div class="row client-row">
                      <div class="col-lg-4 client-img">
                        <img src="assets/images/t1.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8  about-client">
                        <h4 class="text-uppercase">John</h4>
                        <p class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates.</p>
                      </div>
                    </div> 
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="row client-row ml-5">
                      <div class="col-lg-4 col-md-12 client-img">
                        <img src="assets/images/t2.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                        <h4 class="text-uppercase">Mac Gills</h4>
                        <p class="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, hic!</p>
                      </div>
                    </div> 
                  </ng-template>

                  <ng-template carouselSlide>
                    
                    <div class="row client-row">
                      <div class="col-lg-4 client-img">
                        <img src="assets/images/t1.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8  about-client">
                        <h4 class="text-uppercase">John</h4>
                        <p class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates.</p>
                      </div>
                    </div> 
                  </ng-template>
                  <ng-template carouselSlide >
                    <div class="row client-row ml-5">
                      <div class="col-lg-4 col-md-12 client-img">
                        <img src="assets/images/t2.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                        <h4 class="text-uppercase">Mac Gills</h4>
                        <p class="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, hic!</p>
                      </div>
                    </div> 
                  </ng-template>
                  <ng-template carouselSlide>
                    
                    <div class="row client-row">
                      <div class="col-lg-4 client-img">
                        <img src="assets/images/t1.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8  about-client">
                        <h4 class="text-uppercase">John</h4>
                        <p class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates.</p>
                      </div>
                    </div> 
                  </ng-template>
                  <ng-template carouselSlide >
                    <div class="row client-row ml-5">
                      <div class="col-lg-4 col-md-12 client-img">
                        <img src="assets/images/t2.jpg" alt="image" class="img-fluid"> 
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                        <h4 class="text-uppercase">Mac Gills</h4>
                        <p class="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, hic!</p>
                      </div>
                    </div> 
                  </ng-template>
               
            
                 
              </owl-carousel-o>
            <!--end-->
          </div>
        </section>
        <!--end about me area-->
        <!--start subscribe area-->
        <section  class="subscribe-area">
          <div class="subscribe text-center">
            
              <div class="text-center">
                <div class="subscribe-title">
                <h4 class="text-uppercase">Get Update from anywhere</h4>
                <p class="para">Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Nulla, quo.</p>
                </div>

              </div>
            
            <div class="d-sm-flex justify-content-center">
              <form class="w-50">
                <div class="row d-flex flex-row flex-wrap">
                  <div class="col input-textbox">
                    <input type="text" id="textmail" class="form-control" placeholder="Email">
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success float-right">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!--End subscribe area-->

      

</main>
<!--End Main Area-->

<!--footer area-->
      <footer class="footer-area">
        <div class="container">
          <div class="">
            <div class="site-logo text-center py-4">
              <a href="#"><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="social text-center">
              <h5 class="text-uppercase">Follow Me</h5>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="copyright text-center">
              <p class="para">
                Copyright @2020 All rights reserved | This template is made with by
                <a href="#"><span style="color:blue">ZZZ</span></a>
              </p>
            </div>
          </div>
        </div>
      
      </footer>
<!--end footer area-->
