/*start navigation*/

.navbar-brand{
    padding:0 2rem 0 5rem;
}
.navbar{
    padding:1rem 5rem;
   
}

 .nav-link{
   
    text-transform: uppercase;
    font-weight:500;
    margin-left:10px;
    color:black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}


a:hover{
    background: linear-gradient(90deg, #4458dc 0%,#854fee 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text ;

}
/*end navigation*/

/*start banner-area*/
.container{
    padding:1rem 8rem;
}
.site-main .site-banner h3{
    padding-top:35%;
    font-weight:500;
}
.site-main .site-banner h3::after{
    content:"";
    height:2px;
    width:18rem;
    background: black;
    display:inline-block;
    margin-left: 5%;
    transform:translateY(-10px);
}
.site-main .site-banner h1{
    font-size:3rem;
}

.site-main .site-banner h4{
    font-size:1.3rem;
}
.site-main .site-banner .banner-img{
    padding:7rem 0;
    width:90rem;
}
.title-text{
    font-weight:500;

}
.button{
    margin-top:15px;
    font-weight:500;
    font-size:16px;
    position:relative;
    border:3px solid transparent;
    border-radius:2px;
    width:160px;

}
.primary-button{
   
    background:linear-gradient(90deg, #4458dc 0%,#854fee 100%) ;
    background-clip:padding box;
    color:whitesmoke;
    transition: background .6s ease;
    box-shadow:0px 10px 30px rgba(57,56,61,0.205);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip:padding-box;
    color:black;
}
.primary-button::after,.secondary-button::after{
    position:absolute;
    top:-2px;left:-2px;
    bottom:-2px;right:-2px;
    background: linear-gradient(90deg, #4458dc 0%,#854fee 100%);
    content:"";
    z-index:-1;
    border-radius:4px;
}
.secondary-button{
    background: white;
    background-clip:padding-box;
    transition: background .6sec ease;

}
.secondary-button:hover{
    background:linear-gradient(90deg, #4458dc 0%,#854fee 100%) ;
    color:whitesmoke;
    box-shadow:0px 10px 30px rgba(57,56,61,0.205) ;
}
/* end banner-area*/

/* Start about area*/
.about-area{
   padding:5rem 2rem;
}
.about-img{
    padding:5rem 0;
    
}
.about-title h2{
    display:block;
    font-size:40px;
    letter-spacing: 10px;
   
}
.about-title .paragraph{
    padding:4rem 0;
}
.para{
   
    font-weight:500;
    font-size:16px;

}
/* end about area*/

/*start brand area*/
.brand-area {
    padding:1rem 12rem;
    margin-bottom: 4rem;
}
.brand-area .first-row .col-lg-4{
    display:flex;
    justify-content: center;
}
.brand-area .first-row .col-lg-4 > .single-brand{
    border:1px solid #201f1f17;
    text-align:center;
    padding:2rem 0rem;
    margin:0.2rem 0rem;
    width:200px;
    height:80px;
    cursor:pointer;
    transition: transform .4s ease;
}
.brand-area .first-row .col-lg-4 > .single-brand >img{
    width:50%
}
.brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow:0px 10px 30px rgba(57,56,61,0.205) ;
    transform:scale(1.1);

}
.brand-area .first-row .col-lg-4 > .single-brand:hover >img{
    filter:brightness(0.15);
}
.brand-area .experience-area{
    padding-left:2rem;

}
.brand-area .experience-area .years-area{
    background:url('/assets/images/info-bg.png')no-repeat !important;
    background-size: cover;
    padding:2rem;
    width:40rem;
    height:18rem;
    padding-left:5rem;
    position:relative;
}

.brand-area .experience-area .bg-panel{
    position:absolute;
    left:-190px;top:0;
    background: #e029290a;
    width:400px;
    height: 400px;
    margin-left:340px;
    z-index:-1;

}
.brand-area .experience-area  .years{
    font-size:80px;
    color:darkviolet;
    z-index:-2;

}
.brand-area .experience-area .years-area h2> span{
    font-size:22px;
    font-size: 600;
}
.brand-area .experience-area .call-area{
    padding-left: 10rem;

}

/*end brand area*/

/*start service area*/
.service-area{
    padding:7rem 2rem;
}
.service-area .service-title{
    padding:0.14rem;
}
.service-area .service-title h1{
    font-size:35px;
}
.service-area .services{
    background: rgba(248,252,253,0.973);
    width:13rem;
    transition:box-shadow .7s ease;
}
.service-area .services:hover{
    box-shadow:0px 10px 30px rgba(57,56,61,0.205)  ;
}

/*end service area*/

/*start project area*/
.project-area{
    padding:4rem 0;
}

.project-area .button-group button{
    background: transparent;
    border:none;
    font-size:16px;
    font-weight:500;
    text-transform: uppercase;
    margin-bottom:20px;

}
/*.project-area .button-group button+button{
    padding-left:40px;
}*/
.project-area .grid .our-project .title h4{
    font-weight: 700;
    font-size:25px;
}
button:focus,
button:active,
button:hover
.btn:active{
    outline:0px !important;
    box-shadow: none;
}

/*end project area*/

/*start client area*/
.client-row{
    background: #ffffff10;
    box-shadow:0px 10px 30px rgba(57,56,61,0.205) ;
    margin:3rem 0rem;
}
.client-row img{
    padding-top:2rem;
}
.about-client{
    padding-top:2rem;
}
.about-client h4{
   font-size:21px;
   font-weight: 500;
}
owl-carousel-o{
    justify-content: center;
    display:flex;
}
/*end client area*/



/*start subscribe area*/
.subscribe-area .subscribe{
    background:url('/assets/images/subscribe-bg.png')no-repeat !important ;
    padding:10rem 0rem;
    margin:3rem auto;
    width:900px;

}
.subscribe-area .subscribe-title h4{
    font-size:30px;
    font-weight:500;
    color:whitesmoke;
}
.subscribe-area .subscribe-title p{
    color:whitesmoke;
    padding:1rem 4rem;
}
.subscribe-area .subscribe form .input-textbox input{
    width:280px;
    padding:1.5rem 1rem;
    border:1px solid whitesmoke;
    background: transparent;
    color:whitesmoke;
    font-weight: 500;
    font-size:17px;

}
.subscribe-area .subscribe form .input-textbox input::placeholder{
    color: white;

}
.subscribe-area .subscribe form  button{
    background: whitesmoke;
    color:black;
    padding:.8rem 2rem;
}

/*end subscribe area*/

/*start footer area*/

.footer-area{
    padding:5rem 0;
   
}
.footer-area .social h5{
    font-weight: 500;
    font-size:23px;

}
.footer-area .social a  i{
    font-size:2.2rem;
    padding:2rem;
    color:#201f1f17;
}
.footer-area .social a:hover  i{
    color:#4458dc;
}

/*end footer area*/
